@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <div>
        <h3>Login</h3>

        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Username">
        </div>

        <div>
        </div>

    </div>
</div>
